-@body_class = "account-body accountbg"
.row.vh-100
  .col-12.align-self-center
    .auth-page
      .card.auth-card.shadow-lg
        .card-body
          .px-3
            .auth-logo-box
              %a.logo.logo-admin{:href => "../analytics/analytics-index.html"}
                %img.auth-logo{:alt => "logo", :height => "55", :src => "../assets/images/logo-sm.png"}/
            / end auth-logo-box
            .text-center.auth-logo-text
              %h4.mt-0.mb-3.mt-5 Let's receive Crpto donations!
              %p.text-muted.mb-0 Connect with your Streaming account and start receiving Bitcoin today. It's a simple setup.
            / end auth-logo-text
            .form-horizontal.auth-form.my-4{:action => "index.html"}

              .form-group.mb-0.row
                .col-12.mt-2
                  =link_to omniauth_authorize_path(:streamer, :twitch), class: "btn btn-twitch btn-round btn-block waves-effect waves-light" do
                    Login with Twitch


                  %button.btn.btn-primary.btn-round.btn-block.waves-effect.waves-light{:type => "submit"}
                    Login with Mixer
                    -# %i.fas.fa-sign-in-alt.ml-1


      .account-social.text-center.mt-4
        %h6.my-4 cryptodonate.me


-# 
-# %h1 startpage
-#
-# -if current_streamer
-#
-#   %p=current_streamer.name
-#   %p=current_streamer.provider
-#
-#   %h2 Connect your accounts
-#   %p
-#     = link_to :streamlabs, omniauth_authorize_path(:streamer, :streamlabs)
-#   %p
-#     = link_to :streamelements, omniauth_authorize_path(:streamer, :streamelements)
-#
-#
-# -else
-#   We are not logged in!
-#
-#   = link_to :twitch,
-#   = link_to :mixer, omniauth_authorize_path(:streamer, :mixer)
-#
-#
-#
-#   -# = link_to :streamelements, omniauth_authorize_path(:streamer, :streamelements)
