-content_for :title, "Configure your Donations"

=simple_form_for [:internal, current_streamer.donation_setting] do |f|

  =f.input :minimum_amount_for_notification
  =f.input :converted_currency

  =f.button :submit
