%h1 startpage

-if current_user

  %p=current_user.name
  %p=current_user.provider
  =link_to logout_path do
    Logout

  -# %h2 Connect your accounts
  -# %p
  -#   = link_to :streamlabs, omniauth_authorize_path(:user, :streamlabs)
  -#   -# = link_to :streamelements, omniauth_authorize_path(:user, :streamelements)
  -# %p
  -#   =link_to "#" do
  -#     StreamLabs


-else
  We are not logged in!

  = link_to :twitch, omniauth_authorize_path(:user, :twitch)
  = link_to :mixer, omniauth_authorize_path(:user, :mixer)



  -# = link_to :streamelements, omniauth_authorize_path(:user, :streamelements)
