%h1 startpage

-if current_streamer

  %p=current_streamer.name
  %p=current_streamer.provider
  
  %h2 Connect your accounts
  %p
    = link_to :streamlabs, omniauth_authorize_path(:streamer, :streamlabs)
  %p
    = link_to :streamelements, omniauth_authorize_path(:streamer, :streamelements)


-else
  We are not logged in!

  = link_to :twitch, omniauth_authorize_path(:streamer, :twitch)
  = link_to :mixer, omniauth_authorize_path(:streamer, :mixer)



  -# = link_to :streamelements, omniauth_authorize_path(:streamer, :streamelements)
