-qrcode = RQRCode::QRCode.new("strinasdasdasdasd656456456g yolo")

.svg=raw qrcode.as_svg(offset: 0, color: '000', shape_rendering: 'geometricPrecision', module_size: 8, standalone: true)

%p.text
  Please enter the following information:

-# =@donation.errors.inspect if @donation.errors.any?

.class{style: "display: flex;"}
  =form_with(model: @donation, action: @donation.streamer.donation_url, method: :post) do |f|
    =f.text_field :name, class: :styled, placeholder: "Your name", spellcheck: false
    =f.text_field :message, class: :styled, placeholder: "Your Message", spellcheck: false

    =f.submit class: "btn"
