%h2 Donation for #{@donation.streamer.name}


=@donation.inspect



.row.no-gutters
  .col-12.col-md-6.text-center
    =raw btc_qr_code(@donation)


  .col-12.col-md-6.text-left

    .col.mb-4
      %strong Amount to pay
      %br
      #{@donation.payment_amount} #{@donation.coin.symbol.upcase}

    .col
      %strong Receiving address
      %br
      %span.break-all=@donation.payment_address
