-# =react_component "DonationShow"


-# .svg=raw qrcode.as_svg(coin: :dash)
-# .svg=raw qrcode.as_svg(coin: :ltc)
-# .svg=raw qrcode.as_svg(coin: :doge)



#select-payment-method.block
  %p.text
    Select a cryptocurrency

  -@donation.payment_addresses.each do |pa|
    .method{data: {coin: pa.coin.symbol}}
      =image_tag "cryptoicons/color/#{pa.coin.symbol.downcase}.png", size: 32
      %span=pa.coin.name

#payment-info
  -@donation.payment_addresses.each do |pa|
    .payment-address{class: pa.coin.symbol.downcase}
      .address-wrapper
        .address-field
          %span.address=pa.address
        .icon.copy

      .qr-code.d-none{class: pa.coin.symbol.downcase}
        -qrcode = RQRCode::QRCode.new("#{pa.coin.name.downcase}:#{pa.address}")
        .svg=raw qrcode.as_svg(coin: pa.coin.symbol.downcase)

      %button.show-qr-code{data: {coin: pa.coin.symbol}}
        Show QR code




  59:28 Awaiting payment...




-if @donation.name != "Anonymous"
  %p.sender-details
    %strong Your name
    =@donation.name

-if @donation.message.present?
  %p.sender-details
    %strong Your message
    =@donation.message


=link_to new_donation_path(@donation.streamer.donation_url), id: "abort-button", class: "block" do
  .back-icon


=link_to "#", id: "return-button" do
  .back-icon
