%h2 Create new withdrawal


-@withdrawal.errors.add(:amount, :insufficient_funds) if @withdrawal.errors[:streamer] == ["insufficient funds"]

=simple_form_for [:confirm, :internal, :wallet, @withdrawal] do |f|
  =f.input :address
  =f.input :amount
  =f.submit
