-content_for(:title, "Your overview")

.row
  .col-lg-8
    .card
      .card-body
        -# .crypto-report-history.d-flex.justify-content-end
          %ul.nav
            %li.nav-item
              %a.nav-link{:href => "#"} Hour
            %li.nav-item
              %a.nav-link.active{:href => "#"} Day
            %li.nav-item
              %a.nav-link{:href => "#"} Week
            %li.nav-item
              %a.nav-link{:href => "#"} Month
        .row
          .col-md-3
            .media
              .media-body.align-self-center
                .coin-bal
                  %h4.header-title.m-0 Your total balance


        #crypto_dash_main.apex-charts
      / end card-body
    / end card
  / end col
  .col-lg-4

    .card

      .card-body
        %h4.header-title.mt-0.mb-3 Total Balance
        %ul.list-group.wallet-bal-crypto
          -Coin.order(id: :asc).each do |coin|
            %li.list-group-item.align-items-center.d-flex.justify-content-between
              .media
                %img.mr-3.thumb-sm.align-self-center.rounded-circle{:alt => "...", :src => "#{asset_path "cryptoicons/color/#{coin.symbol.downcase}.png"}"}
                .media-body.align-self-center
                  .coin-bal
                    %h3.m-0=coin.name
                    %p.text-muted.mb-0 USD
                / end media body
              .coin-bal
                %h3.m-0 #{current_streamer.balance(coin).balance} #{coin.symbol.upcase}
                %p.text-muted.mb-0.text-right $412 USD
          -# %h3.text-center
            Total: $1333.37





.row
  .col-lg-4
    .card
      .card-body
        =link_to  [:internal, :donations], class: "float-right text-info" do
          View All
        %h4.header-title.mt-0.mb-3 Donation History
        %ul.list-unsyled.m-0.pl-0.transaction-history
          -current_streamer.donations.paid.order(id: :desc).limit(5).each do |donation|
            %li.align-items-center.d-flex.justify-content-between
              .media
                .transaction-icon
                  %i.mdi.mdi-arrow-top-right-thick
                .media-body.align-self-center
                  .transaction-data
                    %h3.m-0 Receive BTC
                    %p.text-muted.mb-0=donation.created_at
                / end media body
              %span.text-success
                =donation.total_paid_crypto
                =donation.coin.symbol.upcase

  .col-lg-8
    .card
      .card-body
        %h4.mt-0.mb-3.header-title Transaction History

        .table-responsive
          %table.table.table-bordered.mb-0
            %thead.thead-light
              %tr
                %th Date
                %th Coin
                %th Amount
                %th *info
            %tbody
              -current_streamer.ledger_entries.order(id: :desc).limit(10).each do |entry|
                %tr
                  %td=entry.created_at
                  %td=entry.coin
                  %td.text-success=entry.amount
                  %td Donation from TimVanmonero 10 USD
