// @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import "donation/reset";
@import "donation/custom-icons-embedded";
@import "donation/animation";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;

}

.back-icon {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  font-size: 1.75rem;
  a {
    i {
      color: #333;
    }
  }
}

.svg {
  padding: 25px 0;
  svg {
    display: block;
    margin: 0 auto;

  }
}
#payment-info {
  margin-bottom: 2rem;
  .payment-address {
    display: none;
  }
}
.block {
  display: block!important;
}
#return-button, #abort-button {
  display: none;
}




#payment-info {
  .payment-address {
    width: 100%;
    .address-wrapper {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      .address-field {
        height: 50px;
        width: 370px;
        background-color: rgba(0, 0, 0, 0.03);
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.88;
        text-align: left;
        color: rgb(32, 42, 54);
        padding: 10px;
        border-radius: 4px 0 0 4px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.1);
        border-image: initial;
        overflow: hidden;
        span.address {
          // padding: 5px;
          // background: #ddd;
        }
      }
      .icon.copy {
        height: 50px;
        width: 50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-left: none;
        align-items: center;
        display: flex;
        justify-content: center;
        i {
          cursor: pointer;
          font-size: 1.75rem;
          &:hover {
            color: #1652f0;
          }

        }
      }
    }
    button.show-qr-code {
      margin: 1rem 0;
      // visibility: visible;
      // height: 40px;
      // width: 100%;
      // display: inline-flex;
      // justify-content: center;
      // align-items: center;
      // cursor: pointer;
      // font-weight: 600;
      // background-color: transparent;
      // color: rgb(22, 82, 240);
      // box-shadow: rgba(6, 102, 208, 0.5) 0px 0px 0px 2px inset;
      // transition: all 0.2s ease-in-out 0s;
      // border-radius: 2px;
    }
  }
}

.flex {
  display: flex!important;
}

.d-none {
  display: none!important;
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

.explanation-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.big-icon {
  text-align: center;
  margin: 0 0 2rem 0;
  i {
    font-size: 5rem;
  }
}

.darkslategray {
  color: darkslategray;
}
