$bg: #eff1f4;
$border-radius: 10px;
$header-bg: #122332;
$photo-border-color: #FFF;
$photo-border-radius: 8px;
$photo-border-width: 4px;
$photo-size: 85px;
$h1-color: #fff;
$h2-color: #eee;
$h1-size: 20px;
$h2-size: 14px;
$body-bg: #fff;
$body-color: #333;
$btn-bg: #1652f0;
$btn-color: white;

@import "donation_style";
