

body {
  font-family: 'Roboto', sans-serif;
  background: $bg;
}

p {
  margin: 0;
}
#wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  #donation-box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background: $body-bg!important;
    width: 100%;
    max-width: 450px;
    border-radius: $border-radius;
    flex-direction: column;

    .header {
      border-radius: $border-radius $border-radius 0 0;
      background: $header-bg!important;
      display: flex;
      padding: 10px;
      color: #fff;
      height: 130px;
      align-items: center;

      img {
        display: flex;
        border-radius: 10%;
        border: $photo-border-width solid $photo-border-color;
        height: $photo-size;
        width: $photo-size;
      }
      .info {
        line-height: 140%;
        align-self: flex-start;
        margin: 15px auto 0px;
        h1 {
          color: $h1-color;
          font-size: $h1-size;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          margin-bottom: 5px;
          width: 225px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        h2 {
          opacity: 0.8;
          color: $h2-color;
          font-size: $h2-size;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          width: 225px;
          display: -webkit-box;
          height: 40px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          margin: 5px auto;
          overflow: hidden;
        }
      }
    }
    .body {
      padding: 15px;
      color: $body-color!important;
    }
  }
}

p.text {
  margin: 20px 0px;
  text-align: center;
}

#select-payment-method {
    display: none;
    margin: 20px 0;
    .method {
      display: flex;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 3px;
      margin-bottom: 10px;
      align-items: center;
      font-size: 17px;
      &:hover {
        background: #eee;
        cursor: pointer;
        border-color: blue;
      }
      img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }
    }
}


input.styled {
  width: 100%;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: none;
  margin: 0px;
  border: 0;
  padding: 10px;
  transition: all 0.2s ease-in-out 0s;
  background: rgb(239, 241, 244);
  border-radius: 2px;
  margin-bottom: 20px;

}


.btn {
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  font-size: 14px;
  margin: 0px;
  line-height: 1.14286;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-appearance: none;
  text-decoration: none;
  border-radius: 4px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  visibility: visible;
  height: 40px;
  width: 100%;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  background-color: $btn-bg;
  color: $btn-color;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 2px;
}


p.sender-details {
  color: $body-color;
  font-size: 14px;
  word-wrap: break-word;
  strong {
    font-weight: bold;
  }
}
