@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import "donation/reset";
@import "donation/qr";



.back-icon {
  margin-top: 40px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAcCAYAAAAAwr0iAAAAAXNSR0IArs4c6QAAAVtJREFUSA1jYCADqOlaapChDasWJqyieASVdCwafv/7e0lZxzIQjzKipZiJVglUCLL8379/9UAmUN//IGFxuSvvXz25QYoZ6GoZ0QVw8ZEsR1byXJhTXOXs2c3fkAVJYRPlAGyWAzW+YWRmdrp3+fhlUixEV0vQAbS0HOQYvA6gteV4HYDLcgYmRuf7V05eQg9KcvlYQ4BelmMNAXpajuEAeluO4oCBsBzuAGyWgyTpARgH0nKQB0mujKgdKszAyuSAkLgs4////x2obTgx5sHLAWxRAZR8Q+2CB91R8OoYR0hwMf5nCBUUl9n54dXTl+iaqcGHOwBk2EA4AsUBA+EIDAfQ2xFYHUBPR+B0AL0cgdcB9HAEQQfgcwTDf4YAZTmj6c+f3/oNUkcOIMoBIIPRsygjI8NvZibmxKsX91LUKCXaAciOAPYJrJkYmcPvXjm+nhxfU6yHml0zADsE+BBQOd4mAAAAAElFTkSuQmCC);
  background-size: contain;
  width: 16px;
  height: 14px;
  background-position: center center;
  background-repeat: no-repeat;
}
.svg {
  svg {
    display: block;
    margin: 0 auto;
  }
}
#payment-info {
  .payment-address {
    display: none;
  }
}
.block {
  display: block!important;
}
#return-button, #abort-button {
  display: none;
}
