@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import "donation/reset";


.back-icon {
  margin-top: 40px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAcCAYAAAAAwr0iAAAAAXNSR0IArs4c6QAAAVtJREFUSA1jYCADqOlaapChDasWJqyieASVdCwafv/7e0lZxzIQjzKipZiJVglUCLL8379/9UAmUN//IGFxuSvvXz25QYoZ6GoZ0QVw8ZEsR1byXJhTXOXs2c3fkAVJYRPlAGyWAzW+YWRmdrp3+fhlUixEV0vQAbS0HOQYvA6gteV4HYDLcgYmRuf7V05eQg9KcvlYQ4BelmMNAXpajuEAeluO4oCBsBzuAGyWgyTpARgH0nKQB0mujKgdKszAyuSAkLgs4////x2obTgx5sHLAWxRAZR8Q+2CB91R8OoYR0hwMf5nCBUUl9n54dXTl+iaqcGHOwBk2EA4AsUBA+EIDAfQ2xFYHUBPR+B0AL0cgdcB9HAEQQfgcwTDf4YAZTmj6c+f3/oNUkcOIMoBIIPRsygjI8NvZibmxKsX91LUKCXaAciOAPYJrJkYmcPvXjm+nhxfU6yHml0zADsE+BBQOd4mAAAAAElFTkSuQmCC);
  background-size: contain;
  width: 16px;
  height: 14px;
  background-position: center center;
  background-repeat: no-repeat;
}
.svg {
  padding: 25px 0;
  svg {
    display: block;
    margin: 0 auto;

  }
}
#payment-info {
  .payment-address {
    display: none;
  }
}
.block {
  display: block!important;
}
#return-button, #abort-button {
  display: none;
}




#payment-info {
  .payment-address {
    width: 100%;
    .address-wrapper {
      display: flex;
      .address-field {
        height: 50px;
        width: 370px;
        background-color: rgba(0, 0, 0, 0.03);
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.88;
        text-align: left;
        color: rgb(32, 42, 54);
        padding: 10px;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.1);
        border-image: initial;
        overflow: hidden;
        span.address {
          // padding: 5px;
          // background: #ddd;
        }
      }
      .icon.copy {
        height: 50px;
        width: 50px;
        background: red;
      }
    }
    button.show-qr-code {
      visibility: visible;
      height: 40px;
      width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 600;
      background-color: transparent;
      color: rgb(22, 82, 240);
      box-shadow: rgba(6, 102, 208, 0.5) 0px 0px 0px 2px inset;
      transition: all 0.2s ease-in-out 0s;
      border-radius: 2px;
    }
  }
}

.flex {
  display: flex!important;
}


.d-none {
  display: none;
}
