@import "internal/chartist";
@import "internal/icons";
@import "internal/bootstrap.min";
@import "internal/metisMenu.min";
@import "internal/metrica/style";



.btn-twitch {
  color: #FFFFFF;
  background-color: #6441A5;
  border-color: #2F1F4E;
}


balance {
  letter-spacing: 0.5px;
  zeros {
    @extend .text-muted;
    // font-weight: normal;
    font-size: 16px;
  }
  &.pos zeros, &.pos value {
    @extend .text-success;
  }

  &.neg zeros, &.neg value {
    @extend .text-danger;
  }
  currency {
    margin-left: 0.25rem;
    color: inherit;
  }
}

.mdi.unpaid {
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .logo strong {
    display: none;
  }
}


.word-wrap {
  word-wrap: break-word;
}
